
@{
    Layout = null;
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page404</title>
</head>
<body>
    <div class="container pt-4 mb-3">
        <h3>Oppss...</h3>
        <p>Aradığınız sayfa bulunamadı.</p>
        <p>Ana sayfaya dönmek için aşağıdaki butona tıklayın.</p>
        <a href="~/Kitap/GetAllKitaps" class="btn btn-outline-primary">Ana Sayfa</a>
    </div>
</body>
</html>
