
@{
    ViewBag.Title = "Page401";
    Layout = "~/Views/Shared/_LayoutLeftBar.cshtml";
}

<div class="container pt-4 mb-3">
    <h3>Page401</h3>
    <p>İstediğiniz işlem için yetkiniz bulunmamaktadır.</p>
    <a class="btn btn-outline-primary ms-4" href="~/Kitap/GetAllKitaps">Ana Sayfa</a>
    <a class="btn btn-outline-primary" href="~/Security/Logout">Çıkış</a>
</div>



